@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  @apply text-2xl font-bold text-blue-base dark:text-white-base md:text-4xl xl:text-5xl;
}

h2 {
  @apply text-xl font-bold text-blue-base dark:text-white-base md:text-3xl xl:text-4xl;
}

p {
  @apply text-lg text-blue-base dark:text-white-base;
}

.container {
  @apply mx-auto box-border w-full max-w-360 overflow-hidden px-5 md:px-10 xl:px-25;
}
