@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  @apply text-5xl font-bold text-blue-base;
}

h2 {
  @apply text-4xl font-bold text-blue-base;
}

p {
  @apply text-lg
}

.container {
  @apply max-w-360 w-full box-border mx-auto px-5 md:px-10 gl:px-15 xl:px-25 overflow-hidden;
}